{% extends 'core/base.html' %} {% load static %} {% block head_title %}Banking System{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    <div class="w-full lg:w-1/2 lg:py-6 text-center">
        <h1 style="font-size: 12rem" class="font-black text-blue-900 text-opacity-50">&#8203;&#8203;</h1>
    </div>
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70">
        <h1 class="font-bold text-4xl my-4">Apex Financial</h1>
        <p class="leading-normal mb-4">
            Welcome to Apex Financial! We are thrilled to have you join us and are ready to provide you with the guidance and support you need to achieve your financial goals. Our team of experienced professionals is committed to helping you make informed decisions 
            about your finances and providing you with the knowledge and tools you need to reach your objectives. We understand that your finances are important to you, and we are here to help you every step of the way. Whether you are just starting out or have been 
            investing for years, our team is dedicated to providing you with the advice and services tailored to your individual needs. We thank you for choosing Apex Financial, and we look forward to working together to help you reach your financial goals. We are here 
            to help you unlock your financial potential and make informed decisions that will help you reach your financial objectives. Thank you for choosing Apex Financial and we look forward to a long and successful relationship.

        </p>
        <div class="flex justify-end w-full">
            <a href="{% url 'accounts:user_registration' %}" class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
        </div>
    </div>
</div>

{% endblock %}